extends layout

block content
    div(ng-app='giveCampaign')
        h1= title
        ul
            li
                a(href='/donarlist') Donar lists
            li
                a(href='/receivertrans') Receivers
        div(ng-view)
    script(src='js/angularmodules/angular.min.js')
    script(src='js/app.js')
    script(src='js/angularmodules/angular-route.min.js')